/* VANILLA MODAL CSS */
.my-modal {
  position: absolute;
  top: 12vh;
  left: -35vw;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  border-radius: 25px;
  justify-content: center;
  padding: 15px;
  z-index: 1000000;
  background-color: white;
  display:flex;
  transition: all 0.8s ease-in-out;
}

#modalCheckbox {
  display: none;
}

#modalCheckbox:checked ~ #body {
  opacity: 0.5;
}

#modalCheckbox:checked ~ .my-modal {
  left: 35vw;
  transition: all 0.8s ease-in-out;
}

.close{
  position: absolute;
  cursor: pointer;
  right: 2rem;
}

.heading2{
  text-align: center;
  font-size: x-large;
}